---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Download the QR Reader App now">
  <main
    class="min-h-screen max-w-7xl overflow-hidden mx-auto md:grid grid-cols-2"
  >
    <div class="mt-52 md:mt-96 flex items-center flex-col">
      <div class="flex flex-col justify-center items-center">
        <div
          class="text-xs font-extrabold bg-violet-700 text-white px-4 py-1 rounded-full mb-4"
        >
          v2.0.0 🎉 New Update!
        </div>
        <h1
          class="text-6xl tracking-tight text-center font-bold text-neutral-900"
        >
          QR Reader <br class="md:hidden" /> for Android
        </h1>
        <h3 class="text-xl mx-2 text-center text-neutral-600 mt-3">
          Effortlessly decode QR codes and barcodes in a snap.
        </h3>
      </div>

      <a
        href="/apk/code-reader_v2.0.0.apk"
        class="mt-6 md:mt-12 bg-neutral-900 rounded-md text-white flex justify-center items-center gap-2 px-4 font-bold text-lg py-2 transition hover:bg-neutral-700"
      >
        <span class="material-symbols-outlined"> android</span>Download for
        Android</a
      >
    </div>
    <div class="flex justify-center md:justify-end mt-16 md:mt-32">
      <div class="z-10 h-full w-96">
        <img src="/mockup.png" alt="MockUp" />
      </div>
      <img
        class="absolute w-[17.6rem] md:w-72 md:mr-12 mt-14"
        src="/app_details.jpg"
        alt="MockUp"
      />
    </div>
  </main>
</Layout>
