---
import githubIcon from "../assets/images/github-mark.svg";
---

<header class="fixed top-0 z-20 border-b-2 h-[5.5rem] py-4 w-full bg-white">
  <nav class="max-w-7xl mx-auto flex justify-between pr-2 md:pr-0 items-center">
    <div class="flex justify-center items-center md:gap-2">
      <div class="w-14 h-14 rounded-md">
        <img src="/adaptive-icon.png" alt="QR Reader logo" />
      </div>
      <div class="mb-[0.2rem]">
        <h1 class="font-bold text-xl">QR Reader</h1>
        <p class="font- text-xs">Built with ❤️ by Ezra Chai</p>
      </div>
    </div>
    <div class="flex items-center gap-4">
      <a class="" href="https://github.com/EzraChai/qr-reader-page">
        <img class="fill-blue-600 w-8 h-8" src={githubIcon} alt="Github Icon" />
      </a>
      <a
        href="/apk/code-reader2.0.apk"
        class="bg-neutral-900 rounded-md text-white flex justify-center items-center gap-2 px-4 font-bold text-lg py-2 transition hover:bg-neutral-700"
      >
        Download</a
      >
    </div>
  </nav>
</header>
