---
import { Image } from "astro:assets";
import githubIcon from "../assets/images/github-mark.svg";
---

<header class="fixed top-0 z-20 border-b-2 h-[5.5rem] py-4 w-full bg-white">
  <nav class="max-w-7xl mx-auto flex justify-between pr-2 md:pr-0 items-center">
    <div class="flex justify-center items-center md:gap-2">
      <div class="w-14 h-14 rounded-md">
        <img src="/adaptive-icon.png" alt="QR Reader logo" />
      </div>
      <div class="mb-[0.2rem]">
        <h1 class="font-bold text-xl">QR Reader</h1>
        <p class=" text-xs">Built with ❤️ by <span class="font-semibold">ezrachai.</span></p>
      </div>
    </div>
    <div class="flex items-center gap-4">
      <a class="" href="https://github.com/EzraChai/qr-reader-page">
        <Image class="fill-blue-600 w-8 h-8" src={githubIcon} alt="Github Icon" />
      </a>
    </div>
  </nav>
</header>
